<main>
    <center>  
      <% if (area === "Jungle") { %>
        <h1>Your animal is a tiger</h1>
        <img src="https://res.cloudinary.com/di449masi/image/upload/v1640815001/800px-Walking_tiger_female_mi7vyq.jpg" width="500px" height="500px"/>
    <% } else if (area === "Aquarium") { %>
      <h1>Your animal is a fish</h1>
      <img src="https://res.cloudinary.com/di449masi/image/upload/v1640815178/Fish_Card_hucyao.jpg" width="500px" height="500px"/>
      <% } else if (area === "Barn") { %>
        <h1>Your animal is a cow</h1>
        <img src="https://res.cloudinary.com/di449masi/image/upload/v1640815240/20210918_stp504_jisz1z.jpg" width="500px" height="500px"/>
    <% } else { %>
      <h1>Your animal is a chicken</h1>
      <img src="https://res.cloudinary.com/di449masi/image/upload/v1640815398/rooster-Rhode-Island-Red-roosters-chicken-domestication_ttseay.jpg" width="500px" height="500px"/>
    <% } %>
</div>
</center>
  </main>