<form method="POST" action="/login" >
    <h1><%= error %></h1> 
    <h3>Login (log into your account)</h3>
    <input type="text" name="username" placeholder="What is your username">
    <input type="text" name="password" placeholder="What is your password">
    <button> Login</button>
</form>
<a href="/">Sign Up</a>