<form action="/signup" method="POST">
   <h1><%= error %></h1> 
   <h3>Sign Up (create an account here)</h3>
    <input type="text" name="username" placeholder="What is your username">
    <input type="text" name="password" placeholder="What is your password">
    <button> Register</button>
    
</form>
<a href="/auth/login">Login</a>